*.EXE
*.COM
*.OBJ
*.SYS
*.BIN
*.CL?
*.COD
*.CPI
*.CTL
*.LIB
*.LST
*.MAP
CMD/FDISK/FDBOOT.INC
CMD/FDISK/FDISKM.C
MESSAGES/*.IDX
SELECT/PANEL.INF
SELECT/SEL-PAN.DAT
SELECT/SELECT.DAT
SELECT/SELECT.HLP
SELECT/SERVICES.BAK
